body {
    background-color: #F3F1D6;
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

.contacto {
    font-size: 2.5rem;
}

footer {
    align-items: center;
    background-color: #260B05;
    color: #F3F1D6;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: space-around;
    margin: 0;
    text-align: center;
}

footer ul {
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
}

footer ul li {
    padding: 1rem;
}

.footer_left {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 33%;
}

.footer_center {
    border-left: 0.2rem solid #F3F1D6;
    border-right: 0.2rem solid #F3F1D6;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 33%;
}

.footer_right {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 33%;
}

footer a {
    color: #F3F1D6;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFB;
    text-decoration: underline;
}

nav {
    background-color: #F94716;
    display: flex;
    flex-direction: row;
    height: 5.2rem;
    justify-content: space-between;
    align-content: center;
}

nav .navegacion {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    align-content: center;
    justify-content: center;
}

nav .navegacion button {
    margin-right: 5rem;
}

nav .navegacion a {
    color: #F3F1D6;
    font-size: 30px;
    font-style: italic;
    padding: 0.5rem 2rem;
    text-decoration: none;
    margin-right: 5rem;

}

nav .navegacion a:hover {
    color: #FFFFFB;
    text-decoration: underline;
}

.carrito, .login {
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background-color: #F94716;
    color: #F3F1D6;
}